*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
}
.add-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.add-list input{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.add-list input::placeholder{
    color: #333;
}
.add-list .add{
    padding: 7px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.add-list .add:hover{
    background-color: blue;
}
.list-items{
    max-width: 500px;
    width: 100%;
}
.list-items ul{
    background: white;
    border-radius: 7px;
    margin-top: 20px;
    width: 100%;
}
.list-items ul li .item{
    font-size: 1.1rem;
}
.list-items ul li div{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.list-items ul li{
 list-style: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 5px;
 padding: 10px;
 width: 100%;
}
.list-items ul li .icons i{
    cursor: pointer;
    font-size: 1.2rem;
}
.fill{
    color: rgb(192, 142, 36);
}