*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
}
.add-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.add-list input{
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.add-list input::placeholder{
    color: #333;
}
.add-list .add{
    padding: 7px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.add-list .add:hover{
    background-color: blue;
}